body {
    background-color: black;
    
}

.container-fluid {
    box-sizing: border-box;
}

h2 {
    color: whitesmoke;
}

h4 {
    color: whitesmoke;
}

.logo {
    max-width: 10%;
    
}

footer {
    color: lightslategray;
}

.text-footer-white {
   
    color: lightslategray;
}

/* .bg-black {
    
    border: 3px solid rgb(55, 255, 0);
} */

footer {
    margin-top: 12vh;
    border: 3px solid red;
}

/* .icons-container {
        
    border: 3px solid red
} */

ion-icon {
    font-size: 3vh;
    width: 4%;
}



